<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= render "layouts/side" %>
<div class='row'>
	<div class="valign-wrapper">
		<div class="valign center" style="width: 100%;">
			<h2 class='cyan-text text-darken-3' style='text-align:center'></h2><br>
		</div>
	</div>
	<%= form_for @feed, :url => feeds_search_path, :html => {class: 'col s12 offset-m2 m8 offset-l3 l6'} do |f| %>
	<div class="card-panel z-depth-1">
		<div class='row col s12'>
			<div class="input-field">
				<i class="material-icons prefix">assessment</i>
				<%= f.label :source, "Search Keyword:" %>
				<%= f.text_field :source %>
			</div>
		</div>
		<div class='row red-text'>
			<div class='col s12 center'>
			<%= button_tag(type: "submit", :class => "btn waves-effect waves-light") do %>
				search
				<i class="material-icons left">search</i>
			<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>
