<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class='row'>
	<div class="valign-wrapper">
		<div class="valign center" style="width: 100%;">
			<h2 class='cyan-text text-darken-3' style='text-align:center'></h2><br>
		</div>
	</div>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, :html => {class: 'col s12 offset-m2 m8 offset-l3 l6'}) do |f| %>
	<div class="card-panel z-depth-1">
		<div class='row'>
			<div class="input-field col s12">
				<i class="material-icons prefix">account_circle</i>
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true %>
			</div>
		</div>
		<%= devise_error_messages! %>
		<div class='row red-text'>
			<div class='col s12 center'>
			<%= button_tag(type: "submit", :class => "btn waves-effect waves-light") do %>
				Send me reset password instructions
				<i class="material-icons left">send</i>
			<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>
